.App__nav {
    grid-area: nav;
    background-color: pink;
    padding: 0 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.item {
    color: green;
}

.item.active {
    color: gold;
    font-weight: bold;;
}
