.App {
  display: grid;
  grid-template-rows: fit-content 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header" 
  "nav main";

  width: 1200px; /* bad, redo. Later =) TODO */
  margin: 0 auto;
}

.App-main {
  grid-area: main;
  background-color: green;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "user-wallpaper user-wallpaper" 
  "user-info user-info"
  "user-posts user-posts";

  & figcaption {
    display: none;
  }
}